DATABASE_URL=postgres://postgres:password@localhost:5432/dev_shg
JWT_SECRET=secret


JITSI_JAAS_APP_ID=APPID
JITSI_JAAS_APP_SECRET=secret
JITSI_JAAS_KID=KID
JITSI_JAAS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
provate jitsi key
-----END PRIVATE KEY-----
"


# For NodeMailer
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER="xxx.gmail.com"
SMTP_PASS="app password"
SMTP_FROM="from email"

